<!DOCTYPE html>
<html>
<head>
  <title>Avveu</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <%= stylesheets_link_tag 'stylesheets', media:'screen', 'animate.css' => true %> 
    <link href="/assets/stylesheets/font-awesome.min.css" media="screen" rel="stylesheet" />
    <%= stylesheets_link_tag 'stylesheets', media:'screen', 'font-awesome.min
    .css' => true %> 
    <link href="/assets/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" />
    <%= stylesheets_link_tag 'stylesheets', media:'screen', 'bootstrap.min.css' => true %> 
    <link href="/assets/stylesheets/normalize.css" media="screen" rel="stylesheet" />
    <%= stylesheets_link_tag 'stylesheets', media:'screen', 'normalize.css' => true %> 
    <link href="/assets/stylesheets/main.css" media="all" rel="stylesheet" />
    <%= stylesheets_link_tag 'stylesheets', media:'all', 'main' => true %> 
    <link href="/assets/stylesheets/colors/dark.css" media="screen" rel="stylesheet">
    <%= stylesheets_link_tag 'stylesheets', media:'screen', 'colors/dark.css' => true %> 

</head>
<body>

<%= yield %>

</body>
</html>
