<!DOCTYPE html>
<html>
<head>
  <title>Avveu</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="screen-loader"></div><!-- screen loader end -->
<!-- preload start -->
<div id="preload">
    <div id="preload-status"> 	
    </div>
</div>
<body>

<%= yield %>

</body>
</html>
